<p id="notice"><%= notice %></p>

<h1>Workshops</h1>

<table>
  <thead>
    <tr>
      <th>Continent</th>
      <th>Country</th>
      <th>City</th>
      <th>Venue address</th>
      <th>Google maps url</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Time zone</th>
      <th>Ticketing url</th>
      <th>Organiser</th>
      <th>Facilitator</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= workshop.continent %></td>
        <td><%= workshop.country %></td>
        <td><%= workshop.city %></td>
        <td><%= workshop.venue_address %></td>
        <td><%= workshop.google_maps_url %></td>
        <td><%= workshop.start_time %></td>
        <td><%= workshop.end_time %></td>
        <td><%= workshop.time_zone %></td>
        <td><%= workshop.ticketing_url %></td>
        <td><%= workshop.organiser_id %></td>
        <td><%= workshop.facilitator_id %></td>
        <td><%= workshop.notes %></td>
        <td><%= link_to 'Show', workshop %></td>
        <td><%= link_to 'Edit', edit_workshop_path(workshop) %></td>
        <td><%= link_to 'Destroy', workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workshop', new_workshop_path if current_user.admin? %>
