<p id="notice"><%= notice %></p>

<p>
  <strong>Continent:</strong>
  <%= @workshop.continent %>
</p>

<p>
  <strong>Country:</strong>
  <%= @workshop.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @workshop.city %>
</p>

<p>
  <strong>Venue address:</strong>
  <%= @workshop.venue_address %>
</p>

<p>
  <strong>Google maps url:</strong>
  <%= @workshop.google_maps_url %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @workshop.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @workshop.end_time %>
</p>

<p>
  <strong>Time zone:</strong>
  <%= @workshop.time_zone %>
</p>

<p>
  <strong>Ticketing url:</strong>
  <%= @workshop.ticketing_url %>
</p>

<p>
  <strong>Organiser:</strong>
  <%= user_name @workshop.organiser %>
</p>

<p>
  <% if @workshop.facilitator.present? %>
    <%= render 'display_user', user: @workshop.facilitator, user_type: "Facilitator" %>
  <% else %>
    <%= render 'invite_user', user_type: "Facilitator" %>
  <% end %>
</p>

<p>
  <% @workshop.mentors.each do |mentor| %>
    <p>
      <%= render 'display_user', user: mentor, user_type: "Mentor" %>
    </p>
  <% end %>

  <%= render 'invite_user', user_type: "Mentor" %>
</p>


<p>
  <strong>Notes:</strong>
  <%= @workshop.notes %>
</p>

<%= link_to 'Edit', edit_workshop_path(@workshop) %>
