<% if @workshop.present? %>
  <h1>Workshop Management</h1>
  <p>
    <%= link_to 'Edit Workshop', edit_workshop_path(@workshop), class: 'btn btn-warning' %>
    <%= link_to 'Edit Account', edit_account_path(@workshop), class: 'btn btn-warning' %>
    <%= link_to "Log Incidents", incidents_path, class: "btn btn-danger pull-right" %>
  </p>
  <p>
    <%= link_to "CoC Training", new_coc_training_path, class: "btn btn-info" %>
    <%= link_to "Preparation", preparation_index_path, class: "btn btn-info" %>
    <%= link_to "Schedule", schedule_index_path, class: "btn btn-info" %>
    <%= link_to "CFPs", cfps_path, class: "btn btn-info" %>
    <%= link_to "Example Proposals", proposals_path, class: "btn btn-info" %>
  </p>


  <br/>
  <br/>

  <div class="grouping">
    <h2>Team</h2>
      <% @workshop.organisers.each do |organiser| %>
        <p>
          <%= render 'display_user', user: organiser, user_type: "Organiser" %>
        </p>
      <% end %>
        </p>
        <%= render 'invite_user', user_type: "Organiser" %>
    <p>
      <% @workshop.facilitators.each do |facilitator| %>
        <%= render 'display_user', user: facilitator, user_type: "Facilitator" %>
        <br>
      <% end %>
      <%= render 'invite_user', user_type: "Facilitator" %>
    </p>
    <p>
      <% @workshop.mentors.each do |mentor| %>
        <p>
          <%= render 'display_user', user: mentor, user_type: "Mentor" %>
        </p>
      <% end %>

      <%= render 'invite_user', user_type: "Mentor" %>
    </p>
  </div>

<!--   <div class="grouping">
    <h2>Attendees</h2>
    <p>
      <strong>Number of sign ups:</strong>
      <%= @workshop.number_of_sign_ups %>
    </p>

    <p>
      <strong>Number of attendees:</strong>
      <%= @workshop.number_of_attendees %>
    </p>

  </div>
 -->
  <div class="grouping">
    <h2>Where</h2>
    <p>
      <strong>Continent:</strong>
      <%= @workshop.continent %>
    </p>

    <p>
      <strong>Country:</strong>
      <%= @workshop.country %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @workshop.city %>
    </p>

    <p>
      <strong>Venue address:</strong>
      <%= @workshop.venue_address %>
    </p>

    <p>
      <strong>Google maps url:</strong>
      <%= @workshop.google_maps_url %>
    </p>
  </div>

  <div class="grouping">
    <h2>When</h2>
    <p>
      <strong>Start time:</strong>
      <%= @workshop.start_time.strftime "%H:%M" %>
    </p>

    <p>
      <strong>End time:</strong>
      <%= @workshop.end_time.strftime "%H:%M" %>
    </p>

    <p>
      <strong>Time zone:</strong>
      <%= @workshop.time_zone %>
    </p>

    <p>
      <strong>Alternative date:</strong>
      <%= @workshop.alternative_date %>
    </p>
  </div>

  <div class="grouping">
    <h2>How attendees sign up</h2>
    <p>
      <strong>Ticketing url:</strong>
      <%= @workshop.ticketing_url %>
    </p>
  </div>

  <div class="grouping">
    <p>
      <strong>Notes:</strong>
      <%= simple_format @workshop.notes %>
    </p>
  </div>

  <h2>Access Information</h2>

  <p>
    <%= show_workshop_yes_no @workshop, :access_information_prodivded, "Display access information:" %>
  </p>

  <div class="grouping">
    <h2>Getting to the venue</h2>
    <h3>Public Transport</h3>
    <%= show_workshop_attribute_and_notes @workshop, :public_transport_near_venue %>
    <%= show_workshop_attribute_and_notes @workshop, :public_transport_accessible_mobility_devices %>
    <%= show_workshop_attribute_and_notes @workshop, :public_transport_accessible_service_animals %>
    <%= show_workshop_attribute_and_notes @workshop, :public_transport_accessible_sight_impaired %>
    <%= show_workshop_attribute_and_notes @workshop, :area_around_venue_safe %>

    <h3>Parking</h3>

    <%= show_workshop_text_attribute @workshop, :how_far_parking %>
    <%= show_workshop_text_attribute @workshop, :cost_of_parking %>

    <%= show_workshop_attribute_and_notes @workshop, :parking_well_lit %>
    <%= show_workshop_attribute_and_notes @workshop, :parking_gated %>
    <%= show_workshop_attribute_and_notes @workshop, :parking_gaurded %>
  </div>

  <div class="grouping">
    <h2>Accessing the venue</h2>

    <%= show_workshop_yes_no @workshop, :venue_security %>
    <%= show_workshop_text_attribute @workshop, :venue_access_process %>
    <%= show_workshop_text_attribute @workshop, :steps %>
    <%= show_workshop_text_attribute @workshop, :ramps_or_elevators %>
    <%= show_workshop_text_attribute @workshop, :elevators_buttons %>
    <%= show_workshop_text_attribute @workshop, :childcare_nearby %>
  </div>
  <div class="grouping">
    <h2>The Venue</h2>

    <%= show_workshop_attribute_and_notes @workshop, :quiet_room %>
    <%= show_workshop_attribute_and_notes @workshop, :nursing_room_for_new_mothers %>
    <%= show_workshop_attribute_and_notes @workshop, :safe_for_small_children %>
    <%= show_workshop_attribute_and_notes @workshop, :navigable_by_disabled %>
    <%= show_workshop_attribute_and_notes @workshop, :chairs_arms %>
    <%= show_workshop_attribute_and_notes @workshop, :drinks_allowed %>

    <%= show_workshop_text_attribute @workshop, :number_of_bathrooms %>
    <%= show_workshop_text_attribute @workshop, :number_of_handicap_stalls %>
    <%= show_workshop_text_attribute @workshop, :number_of_gender_neutral_stalls %>

  </div>

  <br/>
  <%= link_to 'Edit', edit_workshop_path(@workshop), class: 'btn btn-warning pull-right' %>
<% end %>
