<p id="notice"><%= notice %></p>

<p>
  <strong>Continent:</strong>
  <%= @workshop.continent %>
</p>

<p>
  <strong>Country:</strong>
  <%= @workshop.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @workshop.city %>
</p>

<p>
  <strong>Venue address:</strong>
  <%= @workshop.venue_address %>
</p>

<p>
  <strong>Google maps url:</strong>
  <%= @workshop.google_maps_url %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @workshop.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @workshop.end_time %>
</p>

<p>
  <strong>Time zone:</strong>
  <%= @workshop.time_zone %>
</p>

<p>
  <strong>Ticketing url:</strong>
  <%= @workshop.ticketing_url %>
</p>

<p>
  <strong>Organiser:</strong>
  <%= @workshop.organiser.full_name %>
</p>

<p>
  <% if @workshop.facilitator.present? %>

    <% if @workshop.facilitator.invitation_accepted? %>
    <strong>
      Facilitator:
    </strong>
    <%= @workshop.facilitator.full_name %>
    <% else %>
      <strong>
        PENDING Facilitator:
      </strong>
      <%= @workshop.facilitator.email %>
    <% end %>

  <% else %>
    <%= form_tag invite_team_members_path do %>
      <%= label_tag 'Invite Facilitator' %>
      <%= label_tag 'Facilitator email address' %>
      <%= email_field_tag 'email', '' %>
      <%= hidden_field_tag 'facilitator', true %>
      <%= submit_tag "Send Invititation" %>
    <% end %>
  <% end %>
</p>

<p>
  <% @workshop.mentors.each do |mentor| %>

    <% if mentor.invitation_accepted? %>
    <strong>
      Mentor:
    </strong>
    <%= mentor.full_name %>
    <% else %>
      <strong>
        PENDING Mentor:
      </strong>
      <%= mentor.email %>
    <% end %>
  <% end %>

  <%= form_tag invite_team_members_path do %>
    <%= label_tag 'Invite Mentor' %>
    <%= label_tag 'Mentor email address' %>
    <%= email_field_tag 'email', '' %>
    <%= hidden_field_tag 'mentor', true %>
    <%= submit_tag "Send Invititation" %>
  <% end %>
</p>


<p>
  <strong>Notes:</strong>
  <%= @workshop.notes %>
</p>

<%= link_to 'Edit', edit_workshop_path(@workshop) %> |
<%= link_to 'Back', workshops_path %>
