<hr/>
<div id="announcement">
  <h2><%= t('homepage.index.reschedule-2021.title') %></h2>
  <h2><%= t('homepage.index.reschedule-2021.subtitle') %></h2>

  <p><%= t('homepage.index.reschedule-2021.p1') %></p>
  <p><%= t('homepage.index.reschedule-2021.p2') %></p>
  <p><%= t('homepage.index.reschedule-2021.p3') %></p>
  <p><%= t('homepage.index.reschedule-2021.p4') %></p>
  <p><%= t('homepage.index.reschedule-2021.p5') %></p>
  <p><%= t('homepage.index.reschedule-2021.p6') %></p>
  <p><%= raw t('homepage.index.reschedule-2021.p7') %></p>
</div>

<hr/>
