<div id="announcement">
  <h2>Announcement:</h2>
  <h2>Global Diversity CFP Day partners with QueerJS & VueVixens</h2>
  <p>
  Since the 2019 event we have been keen to give our attendees a clear continuation path with known, trusted groups for attendees to give a talk.
  </p>
  <p>
    Today we are incredibly excited to announce two super-powered, front end, distributed events that are here to support you in taking that next step by providing an opportunity to giving a talk in a safe, positive, encouraging environment.
  </p>
  <div style="margin-top: 50px" >
    <%= link_to "https://queerjs.com/"  do %>
      <%= image_tag "queerjs.png", width: "200px", height: "200px", style: 'margin-right: 100px; margin-bottom: 50px' %>
    <% end %>

    <%= link_to "https://www.vuevixens.org/"  do %>
      <%= image_tag "vue-vixens-logo.png", width: "200px", height: "200px" , style: 'margin-bottom: 50px'%>
    <% end %>
  </div>
  <p>
    <%= link_to "QueerJS", "https://queerjs.com/" %> and
    <%= link_to "Vue Vixens", "https://www.vuevixens.org/" %>
    will be running a number of meetups in March through May 2020 where you can apply to give a talk.
  </p>
  <p>
    If there currently is not a
    <%= link_to "QueerJS", "https://queerjs.com/" %>
    or
    <%= link_to "Vue Vixens", "https://www.vuevixens.org/" %>
    chapter in your area why not organise your own?
  </p>
  <p>
    To organise a QueerJS event, reach out to the core team by DM'ing them on     <%= link_to "twitter", "https://twitter.com/queerjs/" %>.
  </p>
  <p>
    To become a chapter lead for Vue Vixens, reach out to Diana Rodriguez on
    <%= link_to "Slack", "https://communityinviter.com/apps/vuevixens/vue-vixens" %>.
  </p>
  <p>
    Good luck with your next steps, and remember we love hearing how your journey is progressing. Please reach out on
    <%= link_to "twitter", "https://twitter.com/gdcfpday/" %>
    to let us know how you are getting on.
  </p>

  <h2>QueerJS Events:</h2>
  <table class="partnership-events">
    <tbody>
      <tr>
        <td class="city">
          Cologne
        </td>
        <td class="date">
          6th of February
        </td>
        <td class="cfp-status">
        </td>
      </tr>

      <tr>
        <td class="city">
          Tokyo
        </td>
        <td class="date">
          24th of March
        </td>
        <td class="cfp-status">
          <%= link_to "CFP Open", "https://queerjs.com/tokyo" %>
        </td>
      </tr>

      <tr>
        <td class="city">
          Berlin
        </td>
        <td class="date">
          26th of March
        </td>
        <td class="cfp-status">
          <%= link_to "CFP Open", "https://queerjs.com/berlin" %>
        </td>
      </tr>

      <tr>
        <td class="city">
          Munich
        </td>
        <td class="date">
          14th of April
        </td>
        <td class="cfp-status">
          <%= link_to "CFP Open", "https://queerjs.com/munich" %>
        </td>
      </tr>

      <tr>
        <td class="city">
          Mexico City
        </td>
        <td class="date">
          3rd of May
        </td>
        <td class="cfp-status">
          CFP Coming SOON
        </td>
      </tr>

      <tr>
        <td class="city">
          Paris
        </td>
        <td class="date">
          28th of May
        </td>
        <td class="cfp-status">
          <%= link_to "CFP Open", "https://queerjs.com/paris" %>
        </td>
      </tr>

      <tr>
        <td class="city">
          Milan
        </td>
        <td class="date">
          TBD
        </td>
        <td class="cfp-status">
          TBD
        </td>
      </tr>

    </tbody>
  </table>

  <h2>VueVixens Events:</h2>
  <table class="partnership-events">
    <tbody>
      <tr>
        <td class="city">
          Bogota
        </td>
        <td class="date">
          TBD
        </td>
        <td class="cfp-status">
          TBD
        </td>
      </tr>

      <tr>
        <td class="city">
          Boston
        </td>
        <td class="date">
          TBD
        </td>
        <td class="cfp-status">
          TBD
        </td>
      </tr>

      <tr>
        <td class="city">
          Detroit
        </td>
        <td class="date">
          TBD
        </td>
        <td class="cfp-status">
          TBD
        </td>
      </tr>

      <tr>
        <td class="city">
          Mexico City
        </td>
        <td class="date">
          TBD
        </td>
        <td class="cfp-status">
          TBD
        </td>
      </tr>

      <tr>
        <td class="city">
          Zurich
        </td>
        <td class="date">
          TBD
        </td>
        <td class="cfp-status">
          TBD
        </td>
      </tr>
    </tbody>
  </table>


</div>
