<h2>Workshops</h2>
<% if workshops.empty? %>
  Currently we have no confirmed workshops. Please sign up below to organise a workshop.
<% else %>
  <% workshops.keys.each do |continent| %>
    <h3><%= continent %></h3>
    <% workshops[continent].keys.each do |country| %>
      <h4><%= country %></h4>
      <ol class="workshop-list">
      <% workshops[continent][country].each do |workshop| %>
        <li class="workshop-list-item">
          <%= workshop.city %>

          <div class="ticket-button">
            <%= "PENDING" unless workshop.approved? %>
            <a class=" btn btn-warning" href="mailto:<%= workshop.organiser.displayed_email %>?Subject=Global%20Diversity%20CFP%20Day%20Enquity">
              Contact Organiser
            </a>
            <a target="_blank" class=" btn btn-warning" href="<%= workshop.ticketing_url %>">
              Get your FREE ticket!
            </a>
          </div>
        </li>
      <% end %>
      </ol>
    <% end %>
  <% end %>
<% end %>
