<h2>Workshops</h2>
<% if workshops.empty? %>
  Currently we have no confirmed workshops. Please sign up below to organise a workshop.
<% else %>
  <% workshops.keys.each do |continent| %>
    <h3><%= continent %></h3>
    <% workshops[continent].keys.each do |country| %>
      <h4><%= country %></h4>
      <ol class="workshop-list">
      <% workshops[continent][country].each do |workshop| %>
        <% link_text = workshop.ticketing_url.present? ? "Book your free ticket" : "View details" %>
        <%= link_to event_path(workshop) do %>
          <li class="workshop-list-item">
            <%= workshop.city %>
            organised by
            <%= workshop.organiser.full_name %>
            <button class="ticket-button btn btn-warning"><%= link_text %></button>
          </li>
        <% end %>
      <% end %>
      </ol>
    <% end %>
  <% end %>
<% end %>

<h3>Online</h3>
<ol class="workshop-list">
  <%= link_to "https://www.eventbrite.com/e/global-diversity-cfp-day-workshop-with-a-jesse-jiryu-davis-tickets-41582194463", target: "blank" do %>
    <li class="workshop-list-item">
      Remote workshop organized by PyLadies Remote
      <button class="ticket-button btn btn-warning">Book your free ticket</button>
    </li>
  <% end %>
</ol>
