<h2>Workshops</h2>
<% if workshops.empty? %>
  Currently we have no confirmed workshops. Please sign up below to organise a workshop.
<% else %>
  <% workshops.keys.each do |continent| %>
    <h3><%= continent %></h3>
    <% workshops[continent].keys.each do |country| %>
      <h4><%= country %></h4>
      <ol class="workshop-list">
      <% workshops[continent][country].each do |workshop| %>
        <% if current_user.present? %>
          <%= link_to event_path(workshop) do %>
            <li class="workshop-list-item">
              <%= workshop.city %>
              organised by
              <%= workshop.organiser.full_name %>
            </li>
          <% end %>
        <% else %>
          <li class="workshop-list-item">
            <%= workshop.city %>
            organised by
            <%= workshop.organiser.full_name %>
          </li>
        <% end %>
      <% end %>
      </ol>
    <% end %>
  <% end %>
<% end %>

<h3>Remote</h3>
<ol class="workshop-list">
  <li class="workshop-list-item">
    Remote workshop organised by Anna Ossowski
  </li>
</ol>
