<div id="intro" class="jumbotron">
  <h1><%= t(".jumbotron.title") %></h1>
  <% t(".jumbotron.sub-titles").each do |subtitle| %>
    <h2><%= subtitle %>
    </h2>
  <% end %>
  <%= link_to t(".jumbotron.cta.celebrate"), celebrate_url, class: "ticket-button btn btn-warning", target: "blank" %>
  <% link_to "Organise a workshop", organise_path, class: "ticket-button btn btn-warning" %>
</div>

  <% link_to "Open CFPs", cfps_path, class: "ticket-button btn btn-warning right-margin" %>
  <% link_to "Example Proposals", proposals_path, class: "ticket-button btn btn-warning right-margin" %>
  <% link_to "Schedule", schedule_index_path, class: "btn btn-warning pull-right right-margin" %>

<% render  partial: "newest_workshops",  :locals => {:workshops => @newest_workshops} %>

<% render "upcoming_talks" %>

<div>
  <h2><%= t(".cfp-description.title") %></h2>
  <% t(".cfp-description.description").each do |para| %>
    <p><%= para %></p>
  <% end %>
</div>
<br />

<% render "partnership_announcement"  %>

<div>
  <h2><%= t(".event-info.title") %></h2>
  <% t(".event-info.description").each do |para| %>
    <p><%= para %></p>
  <% end %>

  <ul>
    <% t(".event-info.schedule_examples").each do |example| %>
      <li><%= example %></li>
    <% end %>
  </ul>

  <br/>

  <div class="jumbotron background-<%= random_jumbo_pic_class %>"></div>

  <h2><%= t(".subject-matter.title") %></h2>
  <p><%= t(".subject-matter.description") %></p>

  <hr/>

  <div id="all-workshops">
    <h2><%= t(".online-sessions.title") %></h2>
    <%= render 'online-workshops' %>

    <%#= render 'workshops', workshops: Workshop.workshops_grouped_for_homepage
    %>
  </div>


<hr/>

<div id="community-partners">
  <%= render 'community_groups' %>
</div>

<hr/>

<p><%= t(".join-us") %></p>
