<h1>Admin Workshops</h1>

  <% @workshops.keys.each do |continent| %>
    <h2><%= continent %></h2>
    <% @workshops[continent].keys.each do |country| %>
      <h3><%= country %></h3>
      <ol class="workshop-list">
      <% @workshops[continent][country].each do |workshop| %>
        <li class="admin--workshop-list-item">
          <div><%= workshop.city %></div>

          <div> - organised by
            <%= user_name workshop.organiser %>
            <%= coc_completed workshop.organiser %>
          </div>

          <% if workshop.facilitator.present? %>
            <div> - facilitated by
              <%= user_name workshop.facilitator %>
              <%= coc_completed workshop.facilitator %>
              <%= "Invited" if awaiting_invitation_acceptance? workshop.facilitator %>
            </div>
          <% end %>

          <% workshop.mentors.each do |mentor| %>
            <div> - mentored by
              <%= user_name mentor %>
              <%= coc_completed mentor %>
              <%= "Invited" if awaiting_invitation_acceptance? mentor %>
            </div>
          <% end %>

        </li>
      <% end %>
      </ol>
    <% end %>
  <% end %>
