<h1>Admin Workshops</h1>

  <% @workshops.keys.each do |continent| %>
    <h2><%= continent %></h2>
    <% @workshops[continent].keys.each do |country| %>
      <h3><%= country %></h3>
      <ol class="workshop-list">
      <% @workshops[continent][country].each do |workshop| %>
        <li class="admin--workshop-list-item">
          <div><%= workshop.city %></div>

          <% workshop.organisers.each do |organiser| %>
            <div> - organised by
              <%= user_name organiser %>
              <%= coc_completed organiser %>
            </div>
          <% end %>

          <% workshop.facilitators.each do |facilitator| %>
            <% unless awaiting_invitation_acceptance? facilitator %>
              <div> - facilitated by
                <%= user_name facilitator %>
                <%= coc_completed facilitator %>
                <%= "Invited" if awaiting_invitation_acceptance? facilitator %>
              </div>
            <% end %>
          <% end %>

          <% workshop.mentors.each do |mentor| %>
            <% unless awaiting_invitation_acceptance? mentor %>
              <div> - mentored by
                <%= user_name mentor %>
                <%= coc_completed mentor %>
                <%= "Invited" if awaiting_invitation_acceptance? mentor %>
              </div>
            <% end %>
          <% end %>

          <br/>

          <% emails = workshop.signed_up_team.map(&:email) %>
          <% emails.insert(-2, "&") if emails.length >=2 %>
          <%= emails.join(" ") %>
          <br/>
          <br/>
          <%= workshop.signed_up_team.map(&:displayed_twitter).map{|twitter| twitter[0] == "@" ? twitter : "@#{twitter}"}.join(", ") %>

        </li>
      <% end %>
      </ol>
    <% end %>
  <% end %>
