<h2>Sign up to organise a workshop!</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.hidden_field :organiser, value: true %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <%= render "devise/shared/form", f: f %>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-warning" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
