<h1>Continent Leads</h1>

Sections:
<ul>
  <li><a href="#aims">Aims 🔗</a></li>
  <li><a href="#timeline">Timeline 🔗</a></li>
  <li><a href="#responsibilities">Responsibilities 🔗</a></li>
  <li><a href="#tech">Tech 🔗</a></li>
  <li><a href="#people">People 🔗</a></li>
  <li><a href="#content">Content 🔗</a></li>
</ul>

<div class="jumbotron" id="aims">
  <h2>Aims</h2>
  <ol>
    <li>Simplify the event by moving online (for 2021 at least)</li>
    <li>Promote people who have been consistently involved in organising.</li>
    <li>Use the CFP Day platform specifically to share the experience of speakers who are members of the most marginalised groups.</li>
    <li>50% of all visible participants in each stream should be from the following groups:
      <ul>
        <li>Trans or non-binary</li>
        <li>Have a mental or physical impairment</li>
        <li>Have a learning difficulty</li>
        <li>or belong to a marginalised group specific to your continent.</li>
      </ul>
    </li>
    <li>Promote / partner with groups that specifically support the most marginalised groups.</li>
    <li>Provide a wealth of new content for year round visitors to the website + YouTube after the event.</li>
  </ol>
</div>

<div class="jumbotron" id="timeline">
  <h2>Timeline</h2>
  <h3>November 2020</h3>
  <ul>
    <li>Have agreement in writing from everyone involved that they agree with the <%= link_to "Code of Conduct 🔗", code_of_conduct_path %></li>
    <li>Finalise your streams schedule. Who will be involved and what will they be talking about and when?</li>
    <li>Arrange interviews with previous attendees for early December.</li>
    <li>Prepare interview questions, potentially with other Continent Leads - remember when asking the questions, avoid asking exactly the written down question, please paraphrase to avoid it sounding scripted. </li>
  </ul>

  <h3>December 2020</h3>
  <ul>
    <li><%= link_to "Host and record interviews with previous attendees 🔗", "#interview-past-attendees" %></li>
    <li>Send interview recordings to Peter for editing by December 14th.</li>
    <li>Enjoy the holiday season.</li>
  </ul>

  <h3>January 2021</h3>
  <ul>
    <li>Early January: Test streaming with vi.to and Stream Yard</li>
    <li>Saturday 23rd: Global Diversity CFP Day 2021 🌟</li>
  </ul>
</div>

<div class="jumbotron" id="responsibilities">
  <h2>Responsibilities</h2>
  <ul>
    <li>Organise a 5 to 6 hour long stream in English specific to your continent</li>
    <li>Everyone involved needs to sign up to the Code of Conduct</li>
    <li>To update your stream info on the website, create a <a href="https://github.com/JiggyPete/global-diversity-cfp-day-site/blob/master/config/continents.yml">PR that updates this yml file 🔗</a>.</li>
    <li>Promote your stream</li>
    <li>Include a panel session for <%= link_to "Caring for Your Audience 🔗 💛", "#caring-for-your-audience" %>  </li>
    <li>Send recording of stream to Peter for editing and upload to YoutTube</li>
  </ul>
</div>

<h2>Details</h2>
<div class="jumbotron" id="tech">
  <h3>Tech</h3>
  <ul>
    <li>Ticketing: ti.to</li>
    <li>Streaming: Streamyard</li>
    <li>Delivery Platform:  vi.to</li>
  </ul>
</div>

<div class="jumbotron" id="people">
  <h3>People</h3>
    <B>PLEASE DOUBLE CHECK WITH THE WIDER TEAM IN DISCORD BEFORE INVITING PARTICIPANTS</B>
    <br/>
    This is incase one of us has information that the potential participant should not be invited.
   <br/>
   <br/>
  <ul>
    <li>Pull in more people to organise if it helps</li>
    <li>Speakers and panelists</li>
    <li>Hosts: 1 or 2 people to host the stream</li>
    <li>Director: 1 person to manage content, hosts and speakers through StreamYard (and private Discord) - (there is a limit of 10 on-screen participants)</li>
    <li>Moderation of chat inside vi.to will be carried out by the Global Code of Conduct Team for all English streams.</li>
    <li>Talks can be live or pre-recorded</li>
    <li><%= link_to "Pre-record interviews with past attendees that have become speakers 🔗", "#interview-past-attendees" %></li>
  </ul>
</div>

<div class="jumbotron" id="content">
  <h3>Content</h3>
  This is expected to follow the same rough path as the existing workshop format:
  <ul>
    <li>CFP Advice</li>
    <li>How to figure out what attendees should be talking about?</li>
    <li>Putting together a biography</li>
    <li><%= link_to "Caring for Your Audience 🔗 💛", "#caring-for-your-audience" %></li>
    <li>Structuring a Talk</li>
    <li>Slide Design</li>
    <li>How to prepare for the day of your talk</li>
  </ul>

  Feel free to include:
  <ul>
    <li>Building on the "Caring for Your Audience" session, by having an educational talk focussed on understanding how descrimination affects people,  for example due to racism or transphobia. </li>
    <li>A generic fun (tech?) talk</li>
    <li>Games using <a href="https://kahoot.com/">Kahoot? 🔗</a></li>
  </ul>



  <br/>
  <br/>
  <h4 id="caring-for-your-audience">Caring for your audience</h4>

  Here you will need a group of people (panel?) that are from a mixture of backgrounds, and are comfortable participating.
  Please explain the format upfront.

  <b>Part 1: Content / Trigger Warnings</b>

  <ol>
    <li>
      Ask participants to provide examples of Content / Trigger Warnings that attendees should have before their future talks?
    </li>
    <li>
      Next, ask the group to discuss "Why" each item raised is potentially triggering and important share upfront.
    </li>
  </ol>

  <b>Part 2: Inclusive Language / Behaviour</b>
  <ol>
    <li>
      Ask participants to provide examples from their experience of language or behaviour they find exclusionary?
    </li>
    <li>
      Next, ask the group to discuss "Why" each item raised is exclusionary and what is a more inclusive thing to say or do.
    </li>
  </ol>



  <br/>
  <br/>
  <h4 id="interview-past-attendees">Pre-record interviews with past attendees:</h4>

  The aim here is to promote successful past attendees and their speaking journey and CFP Day's role in that journey:

  Interviews could focus on:
  <ul>
    <li>What is their story/journey?</li>
    <li>What role did CFP Day play in your journey?</li>
    <li>How have their feelings changed when applying to speak / putting together a talk / delivering a talk?</li>
    <li>Has anything changed in their career since beginning that speaking journey</li>
  </ul>

  Once edited, these can be used in a number of places:
  <ol>
    <li>Part of any continents stream</li>
    <li>Promotion on the website and social media</li>
    <li>Each vi.to hub has a landing page a few days before the event begins with a video playing welcoming attendees</li>
  </ol>
</div>

Promote groups doing great work in this area









