<h1>CFPs</h1>

  <%= link_to "Schedule", schedule_index_path, class: "ticket-button btn btn-warning" %>
  <%= workshop_link_button %>

<% if current_user.present? %>
  <%= link_to "New CFP", new_cfp_path, class: "btn btn-warning" %>
  <br/>
  <br/>
  <div>
    All the funky CFPs will appear here
  </div>
<% end %>

<%= render 'cfps', cfps: @cfps %>

<br/>
<%= link_to "Schedule", schedule_index_path, class: "ticket-button btn btn-warning" %>
<%= workshop_link_button %>
