<section class="CodeOfConduct__Section">
  <h1><%= t(".title") %></h1>

  <% t(".description").each do |para| %>
    <p><%= para %></p>
  <% end %>
</section>

<section class="CodeOfConduct__Section">
  <h2><%= t(".reporting-steps.title") %></h2>
  <% team_name = t(".team.title") %>
  <% t(".reporting-steps.description", cta: ('<a class="btn btn-warning" href="mailto:coc@globaldiversitycfpday.com?Subject=Code%20of%20Conduct%20Issue&body=Location%0A%0AIssue">' + team_name + '</a>')).each do |para| %>
    <p><%= raw para %></p>
  <% end %>
</section>

<section class="CodeOfConduct__Section">
  <h2><%= t(".team.title") %></h2>
  <% t(".team.description").each do |para| %>
    <p><%= para %></p>
  <% end %>

  <ol>
    <% t(".team.process").each do |example| %>
      <li><%= example %></li>
    <% end %>
  </ol>

<!-- <div class="jumbotron volunteer">
  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "https://i1.wp.com/hashtagcauseascene.com/wp-content/uploads/2018/02/Headshot_2DjangoCon.jpg?resize=768%2C768&ssl=1", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Kim Crayton</div>
        <br/>
        <b>Building a Healthy, Sustainable Tech Ecosystem one Organization, Community & Event at a Time</b>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/@KimCrayton1" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Kim Crayton on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="jumbotron volunteer">
  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "people/lian.png", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Lian Li</div>
        <br/>
        <b>
          Lian always wanted to save the world. After a failed attempt at becoming a lawyer, she decided to do something with computers instead.
        </b>
        <br/>
        <b>
          For the past couple of years she has been travelling the world, giving talks on how to get started with Machine Learning with JavaScript. Currently, Lian works as Software Engineer at Container Solutions, a consultancy focused on cloud-native infrastructure based in Amsterdam.
        </b>
        <br/>
        <b>
           In her free time, she enjoys working on dev related projects from machine learning to hardware hacking.
         </b>

        <br/>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/@Chimney42" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Lian Li on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>
</div> -->

<div class="jumbotron volunteer">
  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "people/nitya.jpg", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Nitya Narasimhan</div>
        <br/>
        <b>New York Workshop Organiser</b>
        <br/>
        <br/>
        <b>I am passionate about helping more diverse people & new generations of engineers, succeed in tech.</b>
        <br/>
        <br/>
        <b>After nearly two decades building, innovating-in & teaching software and systems, I have fairly extensive experience in public speaking to diverse audiences - and I hope I can help others find the same degree of confidence and connection that public speaking has given me.</b>
        <br/>
        <br/>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/@nitya" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Nitya Narasimhan on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>
</div>

<!-- <div class="jumbotron volunteer">
  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "people/jessica_rose.jpg", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Jessica Rose</div>
        <br/>
        <b>
        </b>
        <br/>
        <br/>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/@jesslynnrose" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Jessica Rose on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>
</div> -->

<div class="jumbotron volunteer">
  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "https://pbs.twimg.com/profile_images/1248053402753470464/7VfUT58G_400x400.jpg", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Reshama Shaikh</div>
        <br>
        <b>Reason for being involved in workshop:</b>
        This is an actionable event that opens the door to untapped potential.
        <br>
        <br>

        <br/>
        <b>
        </b>
        <br/>
        <br/>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/@reshamas" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Reshama Shaikh on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>
</div>

<div class="jumbotron volunteer">
  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "people/evelyn.jpg", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Evelyn Utterson</div>
          <br/>
          Evelyn is a Software Engineer and Coach based in Edinburgh, UK. She
          first got involved with Global Diversity CFP Day in 2018, and joined the Global
          CoC Team in 2019.
          <br/>
          <br/>
          <b>Reason for being involved:</b>
          I love attending meetups and conferences, and believe it's incredibly important
          that everyone has an opportunity for their voice to be heard. These workshops
          help to create those opportunities.
          <br/>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/@EvelynUtterson" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Evelyn Utterson on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>
</div>


<!-- <div class="jumbotron volunteer">

  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
          <div class="col">
            <img class="volunteer--profile-picture" onerror="this.onerror=null;this.src='https://www.globaldiversitycfpday.com/assets/default-profile-picture-df6f136300013607efe3a4b2f7894a0ce5f4f54fb3d1ce4c61854983bf70ccce.jpg';" src="https://cdn.mozillians.org/media/uploads/sorl-cache/15/66/1566b3ee3e2a5ec80ba762cb70982aac.jpg" alt="1566b3ee3e2a5ec80ba762cb70982aac">
          </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Havi Hoffman </div>
        <br>
        <b>Reason for being involved in workshop:</b> I believe that we all benefit from a diversity of voices speaking at technical conferences and events. This project is closely aligned with the work of Mozilla Tech Speakers, and the goal of  empowering more people to speak to more audiences about open web technologies. I like to help people with wordsmithing and self-expression.
        <br>
        <br>
        <b>About Havi</b>: Content wrangler, cat herder and lover of gardens. I manage the Mozilla Hacks blog, and I co-founded Mozilla Tech Speakers program.
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="http://twitter.com/@freshelectrons" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Havi Hoffman  on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>

</div> -->

</section>
<section class="CodeOfConduct__Section">
  <h2><%= t(".issues.title") %></h2>
  <% t(".issues.incidents").each do |incident| %>
    <h3><%= incident[:date] %></h3>
    <% incident[:description].each do |para| %>
      <p><%= para %></p>
    <% end %>
  <% end %>
</section>
