<section class="CodeOfConduct__Section">
  <h1>Code of Conduct</h1>

  <p>
    All attendees, workshop organisers, facilitators, mentors and venue staff involved in Global Diversity CFP Day are required to agree with the following code of conduct.
  </p>
  <p>
    Workshop team members will enforce this code of conduct throughout the event.
  </p>
  <br/>
  <p>
    <b>We value the diversity and inclusion of underrepresented and marginalized people in tech.</b>
  </p>
  <p>
    Be mindful that this will likely be the most diverse group of people that you have been around and can expect to meet people from a wide range of religions, ethnicities, genders, gender identities, nationalities, sexual orientations, body sizes, physical appearance, mental abilities and physical abilities.
  </p>
  <p>
    Use this as an opportunity to respectfully interact with a diverse group of individuals in a professional and safe environment.
  </p>

  <p>
    We are all here to learn and grow. This event, being a professional and safe environment, is not the appropriate venue to question individuals on their underrepresented status.
  </p>
  <p>
    Anyone found to be behaving in any way that makes participants uncomfortable or impedes the intended goals of this event will be in violation of this Code of Conduct and will be ejected from Global Diversity CFP Day.
  </p>

  <p>
    Offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, unwelcome photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention are also considered inappropriate behaviour.
  </p>
  <p>
    If your behavior proves to be harmful to others you will have to be removed from all Global Diversity CFP Day events.
  </p>
  <p>
    If you or someone else are subjected to inappropriate behaviour or have any other concerns please follow the Reporting steps below.
  </p>
</section>

<section class="CodeOfConduct__Section">
  <h2>Reporting Steps</h2>
  <p>
    The workshop teams are here to help attendees feel safe for the duration of the workshop. We value your participation.</p>
  </p>
  <p>
    If you need to report an incident please contact a member of your workshop team. Various means to report violations to the local team will be visible throughout each workshop if you are uncomfortable approaching a team member in person.
  </p>
  <p>
    If the person you need to report is a member of the workshop team please contact the workshop organiser.
  </p>
  <p>
    If the person you need to report is the workshop organiser, please contact the
    <a class="btn btn-warning" href="mailto:coc@globaldiversitycfpday.com?Subject=Code%20of%20Conduct%20Issue&body=Location%0A%0AIssue">Global Code of Conduct Team</a>
  </p>
</section>
<section class="CodeOfConduct__Section">
<h2>Global Code of Conduct Team</h2>
<p>
  The top priority for the Global CoC Team is the safety of the attendees. In our decisions we work to proritize the most vulnerable.
</p>
<p>
After receiving a report we will follow this general process to deal with it.

<ol>
 <li>
  Take the necessary steps to protect the reporter's anonymity
 </li>
 <li>
  Evaluate the report
 </li>
 <li>
  Take any required action
 </li>
 <li>
  Notify the reporter of our decision
 </li>
 <li>
  Update the issues log on CoC page if appropriate
 </li>
</ol>
</p>

<div class="jumbotron volunteer">
  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "https://i1.wp.com/hashtagcauseascene.com/wp-content/uploads/2018/02/Headshot_2DjangoCon.jpg?resize=768%2C768&ssl=1", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Kim Crayton</div>
        <br/>
        <b>Atlanta Workshop Organiser</b>
        <br/>
        <br/>
        <b>CEO (Chief Encouragement Officer) for #underrepresented & #marginalized people in #tech</b>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/@KimCrayton1" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Kim Crayton on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>
</div>

<div class="jumbotron volunteer">
  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "people/lian.png", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Lian Li</div>
        <br/>
        <b>
          Lian always wanted to save the world. After a failed attempt at becoming a lawyer, she decided to do something with computers instead.
        </b>
        <br/>
        <b>
          For the past couple of years she has been travelling the world, giving talks on how to get started with Machine Learning with JavaScript. Currently, Lian works as Software Engineer at Container Solutions, a consultancy focused on cloud-native infrastructure based in Amsterdam.
        </b>
        <br/>
        <b>
           In her free time, she enjoys working on dev related projects from machine learning to hardware hacking.
         </b>

        <br/>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/@Chimney42" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Lian Li on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>
</div>

<div class="jumbotron volunteer">
  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "people/jessica_rose.jpg", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Jessica Rose</div>
        <br/>
        <b>
        </b>
        <br/>
        <br/>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/@jesslynnrose" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Jessica Rose on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>
</div>

<div class="jumbotron volunteer">
  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "people/evelyn.jpg", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Evelyn Utterson</div>
        <br/>
        <b>Edinburgh Workshop Organiser</b>
        <br/>
        <br/>
        <b>codebar Edinburgh Coach and Co-organiser</b>
        <br/>
        <br/>
        <b>Women Who Code Edinburgh Chapter Lead</b>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/@EvelynUtterson" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Evelyn Utterson on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>
</div>

<div class="jumbotron volunteer">
  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "people/nitya.jpg", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Nitya Narasimhan</div>
        <br/>
        <b>New York Workshop Organiser</b>
        <br/>
        <br/>
        <b>I am passionate about helping more diverse people & new generations of engineers, succeed in tech.</b>
        <br/>
        <br/>
        <b>After nearly two decades building, innovating-in & teaching software and systems, I have fairly extensive experience in public speaking to diverse audiences - and I hope I can help others find the same degree of confidence and connection that public speaking has given me.</b>
        <br/>
        <br/>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/@nitya" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Nitya Narasimhan on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>
</div>
</section>
<section class="CodeOfConduct__Section">
<h2>Issue Log</h2>
<div class="CodeOfConduct__Issue">
<h3>March 2019</h3>
<p>
  One of our mentors has been removed during a workshop for enabling exclusionary language.
</p>
<p>
  We work hard to setup future speakers to give successful talks using inclusive language.
</p>
<p>
  As such, this incident demonstrated the mentors values were not inline with that of Global Diversity CFP Day and they will not participate in future events.
</p>
</div>
<div class="CodeOfConduct__Issue">
<h3>February 2019</h3>
<p>
  We have received reports from the community that one of our workshop organisers behaved in an inappropriate manner out with Global Diversity CFP Day.
 </p>
<p>
  In order to maintain the safety of people from marginalised groups, this organiser will no longer be allowed to participate in any Global Diversity CFP Day events.
</p>
</div>
<div class="CodeOfConduct__Issue">
<h3>January 2019</h3>
<p>
  Thank you to numerous members of the community for reaching out to inform us that an individual publicly considering running a Global Diversity CFP Day workshop, would not provide the safe, inclusive environment our attendees deserve.
</p>
<p>
  We have been in touch with the individual and they will not be participating in any Global Diversity CFP Day events.
</p>
</div>
<div class="CodeOfConduct__Issue">
<h3>September 2018</h3>
<p>
  Having received a number of reports about the inappropriate behaviour of two workshop organisers, outside of Global Diversity CFP Day, they have been banned from participating in any future Global Diversity CFP Day events.
</p>
<p>
  Our workshop organisers are expected to be role models for attendees. Given they are in charge of attendee safety, organisers are held to the highest standard.
</p>
<p>
  We take your safety and trust very seriously.
</p>
<p>
  Our aim is to cultivate a positive, inclusive environment and it is our responsibility is to maintain this environment for everyone.
</p>
</div>
</section>
