<h1>Schedule</h1>

<%= link_to "Open CFPs", cfps_path, class: "ticket-button btn btn-warning" %>
<%= workshop_link_button %>
<br/>
<br/>
<br/>
<div class="jumbotron">
  <% if current_user.present? %>
    <h4>This schedule is aimed at being a starting point for our worldwide workshops.</h4>
    <br/>
    <h4>All suggestions and contributions are welcome, feel free to deviate from this in your workshop. </h4>
    <br/>
    <h4>Please use your own judgement about when to move on with each item. If attendees are engrossed in proposal writing let them continue, if they are struggling for focus bring in the next video/activity.</h4>
    <br/>
  <% end %>

  <% if current_user.present? %>
    <h4>Things to bring:</h4>
    <ul>
      <li>Post-it notes and pens for the "Caring for your audience" activity</li>
      <li>
        Stickers for name badges. If you could have 2 different colours, one for people that are happy being photographed and one colour for folks that do not want their photograph taken. It'd be great to explain this during registration and the intro.
      </li>
    </ul>

  <% end %>
  <% if current_user.present? %>
    <h4>Things to identify with the team on arrival:</h4>
    <ul>
      <li>Private room/space for Code of Conduct violation conversations</li>
      <li>Nursing room for new mothers</li>
      <li>Quiet room</li>
      <li>Gender neutral bathroom</li>
    </ul>
    Signage for all, apart from the CoC room, would be brilliant!
  <% end %>

  <h2>Slides</h2>
  <b>
    <a href="slides/global-diversity-cfp-day.key">Keynote</a> |
    <a href="slides/global-diversity-cfp-day.pptx">Power Point</a> |
    <a href="slides/global-diversity-cfp-day.pdf">PDF</a>
  </b>
  <br/>
  <h3>Font</h3>
  <b>
    <a href="font/Comfortaa.zip">Comfortaa</a>
  </b>
  <br/>
  <br/>

  <table class="table">
    <tr>
      <td>10am</td>
      <td>Arrival</td>
      <td><%= "Try and always have a member of the team available at the entrance to give attendees a warm, friendly welcome." if current_user.present? %></td>
    </tr>
    <tr>
      <td>10:15am</td>
      <td>Welcome</td>
      <td><%= "Introduce the team and Code of Conduct" if current_user.present? %></td>
      <td><%= "Explain format of workshop" if current_user.present? %></td>
    </tr>
    <tr>
      <td>10:30am</td>
      <td>Advice video #1: CFP Advice from Raquel Velez and Sarah Mei (20 mins)</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><iframe width="560" height="315" src="https://www.youtube.com/embed/lHIHgauh000" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>10:50am</td>
      <td>What should I speak about?</td>
      <td><%= "Split attendees into groups to work with a mentor" if current_user.present? %></td>
      <td><%= "What is each attendee interested in? Excited about? Really annoyed about?" if current_user.present? %></td>
    </tr>
    <tr>
      <td>11:10am</td>
      <td>Proposal Writing</td>
      <td></td>
      <td></td>
    </tr>


    <tr>
      <td>11:30am</td>
      <td>Crafting Your Bio: By Danielle Barnes from @WomenTalkDesign (6 mins)</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td><iframe width="560" height="315" src="https://www.youtube.com/embed/GPPnvXlVj7w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
      <td>
        <% if current_user.present? %>
          People don't like writing wonderful things about themselves. Ask attendees to pair up and interview each other using the questions in the video and slide deck, then attendees put together a bio for their partner.
          <br/>
          Once that is done, if folks are comfortable, attendees can present/introduce their pair to the group with their new bio!
        <% end %>
      </td>
      <td></td>
    </tr>

    <tr>
      <td>12:15pm</td>
      <td>LUNCH BREAK</td>
      <td></td>
      <td></td>
    </tr>


    <tr>
      <td>1:15pm</td>
      <td>Caring for your audience</td>
      <td></td>
      <td>
      </td>
    </tr>


    <% if current_user.present? %>
      <tr>
        <td></td>
        <td>
          Part 1
          <br/>
          <br/>
            Split attendees into groups and provide them with post-it's and pens
            <br/>
            <br/>
            Ask them to write down examples of exclusionary language and behaviour and post them on the wall.
            <br/>
            <br/>
            Next, get the group to discuss "Why" each item is exclusionary and what is a more inclusive thing to say or do.
            <br/>
            <br/>
            With your attendees being a very diverse group this is a great opportunity to learn from everyones lived experience.
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
    <% end %>


    <% if current_user.present? %>
      <tr>
        <td></td>
        <td>
          Part 2
          <br/>
          <br/>
            Here you can either ask the attendees in their groups to identify aspects of a talk that should have a content warning.
            <br/>
            <br/>

            Ask them to write down examples of sitations whare content warnings are appropriate and post them on the wall.
            <br/>
            <br/>
              Next, get the group to discuss "Why".
            <br/>
            <br/>
            There are some examples in the slide deck as this may be a little trickier than the previous excercise.
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
    <% end %>

    <tr>
      <td>1:45pm</td>
      <td>Advice video #2: Your perfect tech talk from Saron Yitbarek <%= "(Section 2.11 to 18.30, don't need to go beyond 18.30)" if current_user.present? %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AzVr_nsKoZs?start=131" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>2:00pm</td>
      <td>Proposal Writing + feedback with mentors</td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>2:30pm</td>
      <td>Advice video: The Art of Slide Design by Melinda Seckington (19 mins)</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/e5gwEvQah-s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>2:50pm</td>
      <td>Proposal Writing + feedback with mentors</td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>3:15pm</td>
      <td>Advice video #3: Jessica Rose: The day of your talk (14 mins)</td>
      <td>
      </td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/m2j6-pjfvuo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3:30pm</td>
      <td>Attendees present their talk proposal</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>3:45pm</td>
      <td>Family Photo and Close</td>
      <td></td>
      <td></td>
    </tr>
  </table>

</div>

<%= link_to "Open CFPs", cfps_path, class: "ticket-button btn btn-warning" %>
<%= workshop_link_button %>
