<div class="jumbotron volunteer-details">

  <div class="container ">
    <div class="row">
      <div class="col col-sm-4">
        <% if volunteer.picture_url.present? %>
          <div class="col">
            <%= image_tag volunteer.picture_url, class: 'volunteer--profile-picture' %>
          </div>
        <% end %>
      </div>

      <div class="col col-sm-6 justify-content-sm-center">
        <h2 class="volunteer-info"><%= volunteer.full_name %></h2>
        <br/>
        <%= volunteer.run_workshop_explaination if volunteer.run_workshop_explaination.present? %>
        <br/>
        <br/>
        Bio: <%= volunteer.biography if volunteer.run_workshop_explaination.present? %>
      </div>

      <div class="col col-sm-2">
        <%= render 'shared/twitter', url: twitter_url(volunteer), name: volunteer.full_name %>
      </div>
    </div>
  </div>

</div>
