<div class="jumbotron volunteer">

  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <% if volunteer.picture_url.present? %>
          <div class="col">
            <%= image_tag volunteer.picture_url, class: 'volunteer--profile-picture' %>
          </div>
        <% end %>
      </div>

      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name"><%= volunteer.full_name %></div>
        <br/>
        <%= volunteer.run_workshop_explaination if volunteer.run_workshop_explaination.present? %>
        <br/>
        <br/>
        <b>About <%= volunteer.full_name.split(' ')[0] %></b>: <%= volunteer.biography if volunteer.biography.present? %>
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="<%= twitter_url(volunteer) %>" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow <%= volunteer.full_name %> on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>

</div>
