<div id="intro" class="jumbotron">
  <h1><%= @workshop.city %>, <%= @workshop.country %></h1>
  <% if @workshop.start_time.present? && @workshop.end_time.present? %>
  <h2><%= l @workshop.start_time %> till <%= l @workshop.end_time %> February 3rd 2018</h2>
  <% end %>
  <% if @workshop.ticketing_url.present? %>
    <%= link_to "Book your free ticket", @workshop.ticketing_url, class: "ticket-button btn btn-warning", target: "blank" %>
  <% else %>
    <button class="ticket-button btn btn-alert">Tickets Coming Soon</button>
  <% end %>
</div>


<% if @workshop.google_maps_url.present? %>
  <h2>Location</h2>
  <%= simple_format @workshop.venue_address %>
  <iframe src="<%= @workshop.google_maps_url %>" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
<% end %>

<% if @workshop.notes.present?  %>
  <h2>Workshop Information</h2>
  <div id="intro" class="jumbotron">
    <b><%= @workshop.notes %></b>
  </div>
<% end %>

<h2>Organiser</h2>
<%= render "volunteer", volunteer: @workshop.organiser %>

<% if @workshop.facilitator.present? && @workshop.facilitator.accepted_or_not_invited? %>
  <h2>Facilitator</h2>
  <%= render "volunteer", volunteer: @workshop.facilitator %>
<% end %>

<% if @workshop.mentors.present? %>
  <% @workshop.mentors.each do |mentor| %>
    <% if mentor.accepted_or_not_invited? %>
      <h2>Mentor</h2>
      <%= render "volunteer", volunteer: mentor  %>
    <% end %>
  <% end %>
<% end %>

<% if @workshop.access_information_prodivded %>
  <%= render "event_access_information", workshop: @workshop %>
<% end %>

<% if @workshop.ticketing_url.present? %>
  <%= link_to "Book your free ticket", @workshop.ticketing_url, class: "ticket-button btn btn-warning", target: "blank" %>
<% else %>
  <button class="ticket-button btn btn-alert">Tickets Coming Soon</button>
<% end %>
