<div id="intro" class="jumbotron">
  <h1><%= @continent["name"] %></h1>
    <h2>
      Saturday January 23rd 2021
    </h2>

    <% if @continent["start_times"].present? %>
      <h3>Start time:</h3>
      <ul>
        <% @continent["start_times"].each do |start_time| %>
          <li><%= start_time %></li>
        <% end %>
      </ul>
    <% end%>
    <% if @continent["end_times"].present? %>
      <h3>End time:</h3>
      <ul>
        <% @continent["end_times"].each do |end_time| %>
          <li><%= end_time %></li>
        <% end %>
      </ul>
    <% end%>

  <%= link_to t("homepage.online-workshops.cta"), @continent["ticketing_url"], class: "ticket-button btn btn-warning", target: "blank" %>
</div>

<% lead = @continent["lead"] %>
<h2><%= @continent["name"] %> Lead</h2>
<%= render "shared/yml_volunteer", volunteer: lead %>

<% hosts = @continent["hosts"] %>
<% if hosts..present? %>
  <% hosts_title = hosts.length > 1 ? "Hosts" : "Host" %>
  <h2><%= hosts_title %></h2>
  <% hosts.each do |host| %>
    <%= render "shared/yml_volunteer", volunteer: host %>
  <% end %>
<% end %>

<% speakers = @continent["speakers"] %>
<% if speakers.present? %>
  <h2>Speakers</h2>
  <% speakers.each do |speaker| %>
    <%= render "shared/yml_volunteer", volunteer: speaker %>
  <% end %>
<% end %>

<% moderators = @continent["moderators"] %>
<% if moderators.present? %>
  <h2>Moderators</h2>
  <% moderators.each do |moderator| %>
    <%= render "shared/yml_volunteer", volunteer: moderator %>
  <% end %>
<% end %>
