<%= workshop_link_button %>

<h1>Preparation</h1>
<div class="grouping">
  <p>
    Welcome and thank you for signing up to bring Global Diversity CFP Day to your home city!
  </p>
  <p>
    With different cities coming online at different times we thought it would be helpful to have a timeline/responsibilities document describing what needs put in place and when.
  </p>
  <p>
    First and foremost, please visit the <%= link_to "Code of Conduct", code_of_conduct_path, class: "prep-link" %> page and check you agree with it. If there is anything you would like to discuss please reach out to
    <a href="mailto:peter@globaldiversitycfpday.com?Subject=Organiser%20questions" class="prep-link" target="_top">peter@globaldiversitycfpday.com</a> or @peter on Discord. If you disagree with the <%= link_to "Code of Conduct", code_of_conduct_path, class: "prep-link" %> or are unwilling to enforce it, unfortunately you <b>cannot</b> host a workshop as safety of all participants is paramount.
  </p>
  <p>
    Second, all workshops are <b>free</b> of charge to all attendees to remove any potential barriers to participating.
  </p>

</div>


<div class="grouping">
  <h2>Logistics of your workshop</h2>
  <p>
    <strong>Team:</strong>
    <p>
      Assemble your team! Invite them to your workshop via this website and their details will be displayed on your public workshop page. This site supports one organiser, one facilitator and multiple mentors. We recommend 1 mentor for every 3 to 5 attendees.
    </p>
    <p>
      By adding your team on the site it will highlight the diverse group of people that are running the workshop. This in turn will provide a feeling of safety to potential attendees.
    </p>
  </p>
  <p>
    <strong>Venue:</strong>
    <p>
      The main requirements of a workshop venue are wifi, power outlets and the ability to play youtube videos over a projector / big screen with audio.
    </p>
    <p>
      We have a large number of access questions, please complete these to enable people with access issues to know what to expect when arriving at the venue.
    </p>
  </p>

  <p>
    <strong>Ticketing:</strong>
    <p>
      To enable you to manage your list of attendees you will need to create a ticketing page (using a service like <a href="https://ti.to/home">ti.to</a> or <a href="https://www.eventbrite.com/">eventbrite</a>) for attendees and add the url for it into your workshop details form. <b>Public users will not be able to access the workshop page until the ticket url is in place.</b>
    </p>
    <p>
      Please state on your ticketing page that by signing up attendees agree to abide by our <%= link_to "Code of Conduct", code_of_conduct_path, class: "prep-link" %>.
    </p>
  </p>
</div>

<div class="grouping">
  <h2>Letting potential attendees know your workshop is happening!</h2>
  <p>
    The more you and your team promote your workshop, the more opportunity for potential attendees to find out about it.
  </p>
  <p>
    Here are a few ways you and your team can promote your workshop:
    <ul>
      <li>Meetups, make an announcement!</li>
      <li>Slack communities</li>
      <li>Twitter</li>
      <li>Local dev community mailing lists</li>
      <li>Local dev community Facebook groups</li>
      <li>(Very old school) Ask local companies to put up a banner on their noticeboard.</li>
    </ul>
  </p>
  <p>
    We also have a #twitter channel in the Slack community, please RT as much of those messages as you are comfortable. It'd be great to have as much buzz about all workshops as it'll help demonstrate that this is truely a global event aimed at supporting people.
  </p>
  <p>
    We'll be spreading the word as much as possible from the <a href="https://twitter.com/gdcfpday" class="prep-link" target="blank">@gdCFPday</a> twitter account. If you could mention the  <a href="https://twitter.com/gdcfpday" class="prep-link"   target="blank">@gdCFPday</a> account we can RT the message further.
  </p>
  <p>
    <strong>Email Announcements</strong>
    <p>
      Every week running up to March 2nd we'll be sending an email out to the people that have signed up to our mailing list detailing which locations have signed up and which locations have released tickets to allow attendees to sign up!
    </p>
    <p>
      We also have a number of emails templates for you as workshop organisers to distribute to your attendees. Feel free to tweak these as is appropriate. The aim being to get attendees excited about the workshop, alay any nerves by giving people a small insight into what they can expect.
    </p>
    <p>
      <table style="border: 2px solid black; padding: 2px;">
        <tr><th>&nbsp;Suggested Date</th><th>Template</th></tr>
        <tr><td>Whenever someone signs up</td><td><a href="/email_templates?template_name=1_thanks_for_signing_up" class="prep-link">Thanks for signing up</a></td></tr>
        <tr><td>January 13th</td><td><a href="/email_templates?template_name=2_inspiration" class="prep-link">Inspiration</a></td></tr>
        <tr><td>January 20th</td><td><a href="https://github.com/JiggyPete/global-diversity-cfp-day-site/blob/master/email_templates/organiser_email_templates/3-travel-tips.html" class="prep-link">Travel Tips</a></td></tr>
        <tr><td>January 27th</td><td><a href="https://github.com/JiggyPete/global-diversity-cfp-day-site/blob/master/email_templates/organiser_email_templates/4-accessibility.html" class="prep-link">Accessibility</a></td></tr>
        <tr><td>February 1st</td><td><a href="https://github.com/JiggyPete/global-diversity-cfp-day-site/blob/master/email_templates/organiser_email_templates/5-two-days-to-go.html"class="prep-link">2 days to go!</a></td></tr>
      </table>
    </p>
    <p>
      <a href="https://github.com/JiggyPete/global-diversity-cfp-day-site/blob/master/email_templates/organiser_email_templates/README.txt" class="prep-link">Template Instructions</a>
    </p>
    <p>
      <a class="btn btn-warning" href="https://github.com/JiggyPete/global-diversity-cfp-day-site/pull/7" target="blank">Email Templates PR with screenshots</a>
    </p>

  </p>
</div>

<div class="grouping">
  <h2>Planning your workshop</h2>
  <p>
    We'll be supplying a <%= link_to "Schedule", schedule_index_path, class: "prep-link" %>, slides and advice videos. You are more than welcome to change the format of your workshop as much as you like. All of our collective group ideas for activities can be found <a href="https://docs.google.com/document/d/11sFTcLYRkuIRYcZd71k_lP2qq3G6NeZu2wWDkeylNhE/edit" target="blank">here</a>.
  </p>
  <p>
    The main thing to do next is get your team together and decide what your workshop schedule will be and that every one is familiar with it and what they will be doing on the day.
  </p>
</div>

<%= workshop_link_button %>
