<h1>Proposal Examples</h1>

<%= link_to proposal_path("how-does_javascript-math") do %>
  <%= render "how-does-javascript-math--header" %>
<% end %>

<%= link_to proposal_path("overcoming-your-fear-of-failure") do %>
  <%= render "overcoming-your-fear-of-failure--header" %>
<% end %>

<%= link_to proposal_path("practical-color-theory-for-people-who-code") do %>
  <%= render "practical-color-theory-for-people-who-code--header" %>
<% end %>

<%= link_to proposal_path("from-bootstrap-to-css-grid") do %>
  <%= render "from-bootstrap-to-css-grid--header" %>
<% end %>

<%= link_to proposal_path("what-tamagotchis-can-teach-you-about-es6-generators") do %>
  <%= render "what-tamagotchis-can-teach-you-about-es6-generators--header" %>
<% end %>
