<div id="intro" class="jumbotron">
  <h1>Primary Parent Online Workshop</h1>
  <h2>10:00am EST till 12:00pm EST March 2nd 2019</h2>
  <%= link_to "Book your free ticket", "https://www.eventbrite.com/e/global-cfp-day-primary-parent-online-workshop-tickets-55667445829", class: "ticket-button btn btn-warning", target: "blank" %>
</div>


<h2>Workshop Information</h2>
<div id="intro" class="jumbotron workshop-notes">
  <b>
    <%= simple_format "Learn about writing effective talk proposals for tech conferences and about some of the logistics/planning for traveling to a conference as a primary parent." %>
  </b>
  <b>
    <%= simple_format "This workshop is online and very short, so don't worry about having to find childcare - this will be a warm and welcoming workshop for primary parents, so please attend even if you're holding a baby." %>
  </b>
  <b>
    <%= simple_format 'The ticketing password is "parent"' %>
  </b>
</div>

<h2>Organiser</h2>
<div class="jumbotron volunteer">

  <div class="container ">
    <div class="row twitter-padding">
      <div class="col col-sm-4">
        <div class="col">
          <%= image_tag "people/natalya_shelburne.jpg", class: 'volunteer--profile-picture' %>
        </div>
      </div>
      <div class="col col-sm-7 justify-content-sm-center volunteer--details">
        <div class="volunteer-name">Natalya Shelburne</div>
        <br/>
        <b>Reason for being involved in workshop:</b>
        I have been fortunate to be able to speak at tech conferences before and after having my daughter, and realize now just how many voices we are missing by not providing primary caregivers with the support they need to attend and speak at tech events. I want to do what I can to open up the stage to primary caregivers.
        <br/>
        <br/>
        <b>AboutNatalya</b>:
        Natalya is a developer, designer, educator, speaker, occasional sketch note artist, and mom to a very energetic toddler. She is a front end developer at The New York Times and an instructor at Harvard Extension School. Previously, she worked as an Art Director in the non-profit world. Natalya holds bachelor's degrees in studio art and psychology, and a master's in creativity and talent development. Encouraging all things multidisciplinary and facilitating collaboration between design and development is at the heart of much of her work. When Natalya is not writing code, she is painting, writing, or drinking coffee.
      </div>

      <div class="col col-sm-1 volunteer-twitter">
        <a href="https://twitter.com/natalyathree" target="_blank" class="">
          <i class="twitter"></i>
          <span class="sr-only">Follow Natalya Shelburne on Twitter</span>
        </a>
        &nbsp;
      </div>
    </div>
  </div>

</div>

  <%= link_to "Book your free ticket", "https://www.eventbrite.com/e/global-cfp-day-primary-parent-online-workshop-tickets-55667445829", class: "ticket-button btn btn-warning", target: "blank" %>
