<h1>Edit Account</h1>

<%= workshop_link_button %>

<%= form_for(current_user, url: account_path(current_user)) do |f| %>
  <%= render "devise/shared/user_form", f: f %>

  <div class="actions">
    <%= f.submit "Update details", class: "btn btn-warning" %>
  </div>
<% end %>

<%= workshop_link_button %>
