<div id="amr-abdelwahab" class="jumbotron">
  <h1><%= twitter_link "amrAbdelwahab", "Amr Abdelwahab" %></h1>
  <h2>Global Diversity CFP 2018 & 2019 Berlin Attendee</h2>
</div>

<h3>Tuesday 17th December 2019</h3>

<p>
  Before I dig deeper into my story, I am Amr an Egyptian software engineer that has been living for the past 7 years in Europe (first Budapest in Hungary and now in Berlin Germany).
</p>

<p>
  It's already almost 13 years since the first "Hello world" program I wrote for an introduction to programming course. During this journey, I have always given the same importance to the people aspects of software as I did to technical excellence. In the end, we write software with people and for people to use.
</p>

<div class="jumbotron background-amr-relaxing"></div>

<h2>Interest in public speaking</h2>
<p>
  I have to admit, my interest in public speaking is not a new thing. I have always been fascinated by the idea of sharing my thoughts and opinions with a wide audience.
</p>

<p>
  Back in Egypt, I was always giving talks in smaller meetups and using every possible opportunity to address a larger audience. I also did the same since I moved to Europe as fast as I could I started to reach out to local meetups and speaking about any small experiment I tried, however, the more my technical experience grew I started to realize that public speaking and sharing knowledge are not just a "nice to have" skills but rather they are a necessary skill to become a true Senior Engineer.
</p>

<p>
  In 2016 I decided that I will pay more attention to improving my public speaking skills and try to push myself to take it to the next level from small local meetups and company in house gatherings to bigger and wider audience conferences.
</p>

<h2>Conference speaking</h2>
<p>
  I still remember the first major conference I attended, it was <%= link_to "Craft conference 2015 in Budapest", "https://craft-conf.com/2015", target: "_blank" %>
   I was fascinated by every encounter there. Every talk I attended made me excited and interested.
</p>

<p>
  I honestly remember questioning myself, "am I an imposter?" These folks on these stages must be so good to get to this point. "I don't think I will ever get to that level"
</p>

<p>
  Then I remember in early 2016, this talk where the person on stage started the presentation by talking about the common cognitive bias where people assume that folks on stage are extraordinary experts and never say wrong stuff which he considered an absolute shame.
</p>

<h2>My first "Mini-conference talk"</h2>
<p>
  Around that time, I was with my team maintaining a graphQL API written in Ruby as a backend for some internal tool and I remember sharing some insights of our experience in Budapest Ruby meetup when one of the attendees told me about this mini-conference <%= link_to "Budapest Startup Safari", "https://budapest.startupsafari.com/", target: "_blank" %> and told me he thinks that people would want to hear more about the topic.
</p>

<div class="jumbotron background-amr-speaking"></div>

<h2>Original and genuine content</h2>
<p>
  That was my first "conference" talk ever. The topic for me was "Not genuine" at that time I always assumed that "Everyone already knew what am I talking about" but the feedback I got was amazing.
</p>

<p>
  It was that time that I realized that <b>your assumption that people know what you know is wrong.</b> even that topic you treat as a super basic knowledge that everyone shares, there are new people to our communities that have never heard about it before.
</p>

<p>
  In a nutshell, <b>your experience is unique and people want to hear about it.</b>
</p>

<h2>All topics are important</h2>
<p>
  Up to that point, I have never even written a proposal for any CFP(Call for proposal). I didn't know even what does CFP stand for and how does it go.
</p>

<p>
  In the same year, I was attending <%= link_to "EuRuKo in Sofia Bulgaria", "https://euruko2016.org/", target: "_blank" %>. EuRuKo is the main European Ruby conference, it is a moving conference where every year the attendees elect a new organizing team to organize the next version in a different European city. I pitched for Budapest and I won.
</p>

<p>
  Well, I was lucky at this one because suddenly I got exposed to hundreds of talk proposals that I need to anonymously assess and give my opinion to it (Among many others in the CFP committee).
</p>

<p>
  I saw all kinds of proposals, from super-advanced hard skills talks to truly beginners level technical talks, to talks about community, people and processes.
</p>

<p>
  This was when I realized that <b>all topics are equally important.</b>
</p>

<h2>My first CFP proposals: The disappointment phase</h2>
<p>
  After this experience, I was moving to Berlin and I decided that it is time for me to start applying my talks to other bigger more international conferences.
</p>

<p>
  That was when I came across <%= link_to "PaperCall.io", "https://www.papercall.io/", target: "_blank" %>, a website that shows plenty of CFPs where you can apply.
</p>

<p>
  I wrote my first proposal and sent it to several conferences about graphQL for Rubyists and hit a rejection rate of 100%.
</p>

<p>
  I was slightly frustrated, I thought that maybe I gave higher value to my talk content compared to what it was. I also was starting to believe that being a person of color from a non-European country I have no chance as people unconsciously would undervalue anything I would say anyways.
</p>

<div class="videoWrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/6CqmGYvFwAQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br/>
<span class="image-description pull-right">Amr speaking at Euroku: "An empathy exercise: contextualising the question of privilege"</span>
<br/>


<h2>My first Global Diversity CFP day</h2>
<p>
  It was my 4th month in Berlin, I was already letting go of this idea that I would be able to speak in a bigger conference. When a colleague of mine shared on slack a link for the global diversity CFP workshop happening in Berlin in February 2018.
</p>

<p>
  I registered just to go and hear what this was really about. I remember arriving at the location with zero expectations on what will happen.
</p>

<p>
  I met super amazing people(attendees and mentors) and I remember sharing my feelings of frustration with them and I think it was a moment of realization for me to realize that <b>even the most experienced speakers get rejected a lot of times.</b>
</p>

<h2>My first "big conference" full-length talk</h2>
<p>
  In the workshop, we watched videos on how to come up with ideas and how to formulate a more attractive proposal to stand out among the hundreds of proposals the CFP committees go through.

</p>

<p>
  One thought that resonated with me that day was to <b>talk about stuff that you truly care about.</b>
</p>

<p>
  Around that time, especially moving to Berlin I was facing plenty of issues being a person of color in our industry. I have had these thoughts a lot but never even dared to share them with people I work with.
</p>

<p>
  I kept hearing privileged people around me repeating fallacies like "Reverse racism" without even taking a second to step back and understand how problematic these narratives are.
</p>

<p>
  So by the end of that workshop, I wrote a proposal about a talk which was then called "An empathy exercise: Contextualizing the question of privilege"
</p>

<p>
  I had millions of thoughts about the topic, I had no clue what exactly will I want to say for 45 minutes but I was sure that I need to get these thoughts out and share it and if only one person of the audience changed their minds about it that would suffice for me.
</p>

<p>
  I had the Proposal on my pc but never shared it with anyone, then one day I saw the CFP call for EuRuKo 2018 in Vienna and thought to myself. "What would be a better place to do this?" It is the European ruby community whom I have so many friends among. So I sent the Proposal with almost no hope that it will get accepted.
</p>

<p>
  Three months later, I received this email <b>"Your EuRuKo Proposal has been Accepted!"</b> I never forget this feeling of happiness I had at this moment.
</p>

<p>
  I gave this talk for the first time and I was amazed by the kind feedback I got. I kept getting twitter direct messages of support and was later invited to give the same talk in different local events and was asked by the team of <%= link_to "Greater Than Code podcast", "https://www.greaterthancode.com/privilege-as-legacy-code", target: "_blank" %> to record an episode with them.
</p>

<h2>The dilemma of repeating the same talk</h2>
<p>
  At this moment, I knew I want to do more in that direction. but I started questioning myself "Is it a correct thing to repeat the same talk on multiple occasions?"
</p>

<p>
  For the remaining months of 2018, I was convinced that I need to work on different content for every talk. I kept thinking to myself that it wouldn't be a genuine move to apply using the same content to different conferences. Then I had this conversation with several more experienced folks who assured me that this is natural, conference organizers are aware that speakers repeat the talks several times and that <b>it is okay to re-apply to different events with the same content.</b>
</p>

<h2>Getting cornered into one topic</h2>
<p>
  Another fear I had at that moment, is that I would get labeled by people of privileges as "The guy that speaks about diversity stuff". I believe that people related talks are most of the time much more important than technical talks, however, especially being a person of color I wanted it to be clear that my technical knowledge and experience are as relevant and valuable as my people skills.
</p>

<p>
  I started working on my second talk by the end of 2018, it was about my research project called "What is wrong with ruby?"
</p>

<p>
  I started applying with both talks to a different conference but I was hitting another roadblock as again my rejection rate was high and I was getting rejection after rejection.
</p>

<h2>My second Global CFP diversity day</h2>
<p>
  It was March 2019, I saw again the ads about the Global diversity CFP day. I came this time with much more excitement compared to the first time. I have had a taste of how is it and became sure that I want to do more in that direction.
</p>

<p>
  I remember one of the mentors approaching me and saying that they has seen my talk at EuRuKo and loved it. I told them about it being rejected most of the times and they asked me to show the proposal and suggested that maybe I should change the title to <b>"Privileges as Technical Debt."</b>
</p>

<p>
  Until this moment, I honestly never imagined how important the talk title can be. I also went through my other proposal with different mentors and cleaned it up.
</p>

<p>
  By the end of the day, I sent my two proposals to several conferences after incorporating loads of feedbacks from lots of mentors.
</p>

<h2>2019 The Streak</h2>
<p>
  Suddenly it was like a Christmas miracle, Every few days I was receiving a new CFP acceptance. I got invited to conferences all over the world from Nairobi in Kenya to Pune in India passing through several European cities.
</p>

<p>
  I eventually had to apologize to several invitations due to the limited time and the amount of effort it entails but I ended up giving these two talks more than 12 times during one year.
</p>

<p>
  My performance on the stage keeps improving and I keep looking back at older recordings of myself compared to my later ones and realize how much I learned and grew in such a short time.
</p>

<div class="videoWrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/1PJDshwFTOw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br/>
<span class="image-description pull-right">Amr speaking at DevConf: "Privilege as a Technical Debt"</span>
<br/>

<h2>How did I prepare for my talks?</h2>
<p>
  As I previously mentioned, during preparation for my first talk up to the moment of acceptance I had millions of thoughts. I was not sure what exactly would be the talk flow so I started the exercise which since then became my preparing for any talk standard.
</p>

<h2>Talk to people about it ... A LOT</h2>
<p>
  The first step for me was to go around and make sure to open the topic with as many people as possible. Make sure to talk to people with different backgrounds and experiences, take notes of different metaphors and arguments that came up in these conversations.
</p>

<p>
  Try to explain your points differently every time and try to see how did it work out.
</p>

<h2>Try a shorter version of it...first</h2>
<p>
  Another thing I usually do, Is do a teaser version of my talk. In this case, I did a lightning talk with the same title at RubyUnconf in Hamburg.
</p>

<p>
  This enables you to test out the validity of the flow as early as possible.
</p>

<h2>Write, write and write</h2>
<p>
  The thing I do usually is, write one huge markdown with no outline or order just writing down all my thoughts as raw as they can get. I look for sources to any fact I say and put them in their place I simply keep sharing any ideas or external sources I have.
</p>

<h2>Organise</h2>
<p>
  At this stage, I usually have so much raw content. So I start to organize it into the following:
</p>

<p>
  <ul>
    <li>
      Attention grabber: It is a short thing at the beginning of the presentation just to grab the audience's attention. Be it a story, a question or whatever way to grab the people attendance/
    </li>
    <li>
      Introduction: In my introduction, I always try to answer the following questions:
      <ul>
        <li>Who am I?</li>
        <li>Why do I think this talk is important?</li>
        <li>Why do I think I am the one that should give this talk?</li>
      </ul>
    </li>
    <li>
      Body: Make sure to be modular, organize your main points into sections that make sense
    </li>
    <li>
      Transitions: Always make sure your transitions keep the content coherent.
    </li>
    <li>
      Clincher: Think about the one sentence you want people to leave the room remembering.
    </li>
  </ul>
</p>

<p>
  I still do that using markdown, I still write it down as if I am speaking not in any visually attractive format. Just a bunch of text as if I am giving the talk now. I always think of it as something closer to a blog post rather than a presentation.
</p>

<p>
  I keep reading it to see if it feels coherent and still makes sense.
</p>

<h2>Get Feedback</h2>
<p>
  At this stage, I start passing my gists around to people to get validation and hear their opinion and I iterate several times on it.
</p>

<h2>Make slides</h2>
<p>
  I use Prezi for making my slides, but for me, I think any tool to make slides is okay.
</p>

<p>
  The most important trick here is to not have so much text/slide. Some people would advise people to stick to a low number of slides, I do A LOT of one sentence slides in comparison to a few slides with lots of text.
</p>

<h2>Rehearse again and again</h2>
<p>
  From this point on, start giving the talk in every chance you have. Look for local meetups and in house company events. ask people for feedback and incorporate it.
</p>

<p>
  An important note is, <b>you will learn a lot from the conversation with the audience after the talk.</b>
</p>

<h2>In summary</h2>
<p>
  <b>"The best way to learn is to teach",</b> my journey over the past few years has assured me this. You get to go around and meet amazing people that you can learn from.
</p>

<p>
  Is it super easy? no, it is not and don't believe people when they say so. It takes a lot of energy and preparation specially when you are an underprivileged individual but I guess what matters here is not how easy was it but if it was worth it.
</p>

<p>
  For this I can assure you it was.
</p>

<div class="jumbotron background-amr-pose"></div>
