<!DOCTYPE html>
<html>
  <head>
    <title>GlobalDiversityCfpDaySite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-light navbar-toggleable-md app-navbar">
      <nav class="container">

        <div class="d-flex justify-content-between hidden-lg-up">
          <label class="navbar-brand" href="/">
            Global Diversity CFP Day
          </label>
          <% if user_signed_in? %>
            <%= link_to "My workshop", workshop_landing_page_for(current_user), class: "navbar-brand" %>
            <%= link_to "Log out", destroy_user_session_path, class: "navbar-brand", method: :delete %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "navbar-brand" %>
          <% end %>
        </div>

      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
