<!DOCTYPE html>
<html>
  <head>
    <title>GlobalDiversityCfpDaySite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Log in", new_user_session_path unless user_signed_in? %>
    <%= link_to "Sign up", new_user_registration_path unless user_signed_in? %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
