<!DOCTYPE html>
<html>
  <head>
    <title>Global Diversity CFP Day</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <header class="navbar navbar-light navbar-toggleable-md app-navbar">
      <nav class="container">

        <div class="d-flex justify-content-between hidden-lg-up">
          <a href="/">
            <label class="navbar-brand">
              global diversity CFP day
            </label>
          </a>
          <div class="pull-right custom-nav">
            <%= link_to "Code of Conduct |", code_of_conduct_path, class: "navbar-brand" %>
            <% if user_signed_in? %>
              <%= link_to "Workshop |", workshop_landing_page_for(current_user), class: "navbar-brand" %>
              <%= link_to "Log out |", destroy_user_session_path, class: "navbar-brand", method: :delete %>&nbsp;
            <% else %>
              <%= link_to "Sign up |", new_user_registration_path, class: "navbar-brand" %>
              <%= link_to "Log in |", new_user_session_path, class: "navbar-brand" %>&nbsp;
            <% end %>

              <a href="https://twitter.com/gdcfpday" class="navbar-brand twitter-wrapper">
                <i class="twitter"></i>
                <span class="sr-only">Follow Global Diversity CFP Day on Twitter</span>
              </a>

          </div>
        </div>

      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>

    <br/>

    <footer>
      Global Diversity CFP Day is a community event based on the successful workshops held in advance of <a href="http://scotlandcss.com" class="footer-link">ScotlandCSS</a> and <a href="http://scotlandjs.com" class="footer-link">ScotlandJS</a> 2016
    </footer>

  </body>
</html>
