<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Global Diversity CFP Day</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="description" content="Are you a member of an underrepresented or marginalised group? Have you always wanted to become a tech conference speaker? Let this be the year that you make that dream a reality!" property="og:description">
    <meta name="twitter:description" content="Are you a member of an underrepresented or marginalised group? Have you always wanted to become a tech conference speaker? Let this be the year that you make that dream a reality!">
    <meta content="global diversity CFP day" property="og:site_name">
    <meta content="global diversity CFP day" name="twitter:title" property="og:title">
    <meta content="website" property="og:type">
    <meta content="<%= request.original_url %>" property="og:url" name="twitter:url">
    <meta content="<%= image_url('opengraph-image.png') %>" property="og:image" name="twitter:image">
    <meta name="twitter:site" content="@gdcfpday">
    <meta name="twitter:creator" content="@gdcfpday">
    <meta name="twitter:card" content="summary_large_image">

  </head>

  <body>
    <header class="navbar navbar-light navbar-toggleable-md app-navbar">
      <nav class="container">

        <div class="d-flex justify-content-between hidden-lg-up">
          <a href="/">
            <label class="navbar-brand">
              global diversity CFP day
            </label>
          </a>
          <div class="pull-right custom-nav">
            <%= link_to "Code of Conduct |", code_of_conduct_path, class: "navbar-brand" %>
            <% if user_signed_in? %>
              <%= link_to "Workshop |", workshop_landing_page_for(current_user), class: "navbar-brand" %>
              <%= link_to "Log out |", destroy_user_session_path, method: :delete, class: "navbar-brand" %>
            <% else %>
            <%= link_to "Blog |", blog_index_path, class: "navbar-brand" %>
              <%= link_to "Log in |", new_user_session_path, class: "navbar-brand" %>&nbsp;
            <% end %>
              <a href="https://twitter.com/gdcfpday" target="_blank" class="navbar-brand twitter-nav-wrapper">
                <i class="twitter-nav"></i>
                <span class="sr-only">Follow Global Diversity CFP Day on Twitter</span>
              </a>
          </div>
        </div>

      </nav>
    </header>

    <div class="container main-content">
      <% if flash[:success] %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= flash[:success] %>
        </div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= flash[:alert] %>
        </div>
      <% end %>

      <% if current_user.present? && current_user.workshop.present? && !current_user.coc_training_complete? %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          Please complete your
          <%= link_to "Code of Conduct training", new_coc_training_path %>
          before Sunday, January 5th 2020
        </div>
      <% end %>

      <%= yield %>
    </div>

    <br/>

    <footer>
      Global Diversity CFP Day is a community event based on the successful workshops held in advance of <a href="http://scotlandcss.com" class="footer-link">ScotlandCSS</a> and <a href="http://scotlandjs.com" class="footer-link">ScotlandJS</a> 2016
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
